.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    max-width: 1440px;
    font-size: 15px;
    font-family: 'Inter' sans-serif; 
    padding: 50px 0;
    margin: 0 150px;
}

img{ 
    width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 30px;
   
}
ul li {
    list-style-type: none;
   
}
li a{
    text-decoration: none;
    color: hsl(240, 100%, 5%);
    
}
li a:hover{
    color: hsl(5, 85%, 63%);
}
main{
    display: flex;
    gap: 40px;
    padding-top: 30px;
 
}
.right{
    display: flex;
    flex-direction: column;

}


.right-bottom{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin-top: 10px;
    
    
}
.right-bottom h1{
    font-weight: 800;
    font-size: 3rem;

}

.bottom-left p{
    line-height: 1.5;
  
}
.bottom-left button{
    padding: 10px 20px;
    background: hsl(5, 85%, 63%);
    border: none;
    cursor: pointer;
    margin-top: 20px;
    color: hsl(36, 100%, 99%);
}
.bottom-left button:hover{
    color: hsl(36, 100%, 99%);
    background: hsl(240, 100%, 5%) ;
}

aside{
    background: hsl(240, 100%, 5%);
    padding: 20px 20px 0;
}
aside h2{
    color: hsl(35, 77%, 62%);
    padding-bottom: 10px;
}
aside h3{
    color: hsl(36, 100%, 99%);
    padding-bottom: 2px;

}
aside p{
    color: hsl(233, 8%, 79%);
    padding-bottom: 40px;
    line-height: 1.2;
   
}

.bottom{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 40px 0;
    gap: 70px;
    
}
.bottom .flex-item{
    display: flex;
    gap: 10px;
}


.flex-item img{
    width: 100px;
}

.flex-item h3{
    color: hsl(236, 13%, 42%);
    
}
.text h4{
    padding: 5px 0;
  
 
}

.text h4:hover{
    color: hsl(5, 85%, 63%);
    cursor: pointer;
    font-weight: 400;
}