.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    max-width: 1440px;
    font-size: 15px;
    font-family: 'Inter' sans-serif; 
    padding: 50px 0;
    margin: 0 150px;
}

img{ 
    width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 30px;
   
}
ul li {
    list-style-type: none;
   
}
li a{
    text-decoration: none;
    color: hsl(240, 100%, 5%);
    
}
li a:hover{
    color: hsl(5, 85%, 63%);
}

.mobile{
    display: none;
}

main{
    display: flex;
    gap: 40px;
    padding-top: 30px;
 
}


.right-bottom{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
    
    
}
.right-bottom h1{
    font-weight: 800;
    font-size: 3rem;
    margin-right: 30px;

}

.bottom-left p{
    line-height: 1.5;
  
}
.bottom-left button{
    padding: 10px 20px;
    background: hsl(5, 85%, 63%);
    border: none;
    cursor: pointer;
    margin-top: 20px;
    color: hsl(36, 100%, 99%);
}
.bottom-left button:hover{
    color: hsl(36, 100%, 99%);
    background: hsl(240, 100%, 5%) ;
}

aside{
    background: hsl(240, 100%, 5%);
    padding: 20px;
}
aside h2{
    color: hsl(35, 77%, 62%);
    padding-bottom: 10px;
}
aside h3{
    color: hsl(36, 100%, 99%);
    padding-bottom: 2px;

}
aside p{
    color: hsl(233, 8%, 79%);
    line-height: 1.2;
   
}
aside hr{
    margin: 25px 0;
    opacity: 0.3;
}

.bottom{
    display: flex;
    margin: 40px 0;
    justify-content: space-evenly;
    
       
}
.bottom .flex-item{
    display: flex;
    gap: 20px;
    max-width: 450px;
   
    
}
.bottom .flex-item:nth-child(3){
    margin-left: 20px;
}
.flex-item p{
    opacity: 0.5;
    line-height: 1.3;
    margin-right: 30px;
}

.flex-item img{
    width: 80px;
    
}

.flex-item h3{
    color: hsl(236, 13%, 42%);
    
}
.text h4{
    padding: 5px 0;
    font-weight: 700;
    font-size: 20px;
  
 
}

.text h4:hover{
    color: hsl(5, 85%, 63%);
    cursor: pointer;
    font-weight: 400;
}


@media screen and (min-width: 320px) and (max-width: 768px) {
    body{
        padding: 10px 0;
        margin: 0 20px;
    } 

    nav ul{
    position: fixed;
    right: 3%;
    background:hsl(36, 100%, 99%);
    top: 70px;
    height: 100vh;
    flex-direction: column;
    padding: 90px 30px;
    display: none;
    font-size: 20px;
    font-weight: bolder;
    width: 70%;
    z-index: 1;
    }

    .mobile{
        display: block;
        object-fit: contain;
        cursor: pointer;
    }

    .mobile #close-nav{
        display: none;

    }

    
    main{
        flex-direction: column;
        padding-top: 30px;
     
    }

    .right-bottom{
        grid-template-columns: 1fr;
       
        margin-top: 10px;
        
        
    }
    .bottom{
        flex-direction: column;   
           
    }

    .bottom .flex-item{
       padding-bottom: 20px;
    }

    .bottom .flex-item:nth-child(3){
        margin-left: 0;
    }
    
}

